@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--black: #222222;
	--primary: #ce375c;
	--white: #ffffff;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Mulish', sans-serif;
	color: var(--black);
}

.navbar {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;
	justify-content: flex-start;
	align-items: flex-start;
}

.navbar-links {
	display: flex;
	row-gap: 2rem;
	flex-direction: column;
}

.navbar-actions {
	display: flex;
	column-gap: 2rem;
}

.container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-right: auto;
	margin-left: auto;
}

.navbar-item a {
	text-decoration: none;
	color: var(--black);
}

.login-btn {
	text-decoration: none;
	border: 1px solid var(--primary);
	padding: 12px 24px;
	color: var(--primary);
	border-radius: 10px;
}

.signup-btn {
	text-decoration: none;
	background-color: var(--primary);
	padding: 12px 24px;
	color: var(--white);
	border-radius: 10px;
}

/* For screens size with width 640px and above  */
@media (min-width: 640px) {
	.container {
		width: 640px;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-left: auto;
		margin-right: auto;
	}
}

/* For screens size with width 768px and above  */
@media (min-width: 768px) {
	.container {
		width: 768px;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: auto;
		margin-left: auto;
	}
}

/* For screens size with width 1024px and above  */
@media (min-width: 1024px) {
	.container {
		width: 1024px;
		padding-left: 2rem;
		padding-right: 2rem;
		margin-right: auto;
		margin-left: auto;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		gap: 2rem;
		justify-content: space-between;
	}

	.navbar-links {
		display: flex;
		column-gap: 4rem;
		flex-direction: row;
	}
}

/* For screens size with width 1440px and above  */
@media (min-width: 1440px) {
	.container {
		width: 1440px;
		padding-left: 4rem;
		padding-right: 4rem;
		margin-right: auto;
		margin-left: auto;
	}
}
